BOT_TOKEN=
CHANNEL_ID=

DATABASE_URL=

SUBSCRIPTION_PRICE_STARS=
SUBSCRIPTION_DAYS=
REMINDER_DAYS_BEFORE=

CRYPTO_BOT_TOKEN=
CRYPTO_BOT_API_URL=
SUBSCRIPTION_PRICE_USDT=

REFERRAL_PERCENT=

ADMIN_TELEGRAM_ID=

MIN_WITHDRAWAL_USDT=

# Веб-админка
ADMIN_PANEL_USERNAME=
ADMIN_PANEL_PASSWORD=
ADMIN_PANEL_SECRET_KEY=
