BOT_TOKEN=8952127583:AAEU3G82KA9VowBWeJKYqPoB5fatCNM1eyA
CHANNEL_ID=-1004423562753

DATABASE_URL=postgresql://postgres:IneCWjlLxeBykOTrKSUnWvOQjfwtTbvr@postgres.railway.internal:5432/railway

SUBSCRIPTION_PRICE_STARS=1
SUBSCRIPTION_DAYS=30
REMINDER_DAYS_BEFORE=3

CRYPTO_BOT_TOKEN=618760:AAFzSpC6WLbBriUGurm8zXayBN6tB94OpPk
CRYPTO_BOT_API_URL=https://pay.crypt.bot/api/
SUBSCRIPTION_PRICE_USDT=20

REFERRAL_PERCENT=30

ADMIN_TELEGRAM_ID=279402918

MIN_WITHDRAWAL_USDT=15

# Веб-админка (второй сервис на Railway)
ADMIN_PANEL_USERNAME=admin
ADMIN_PANEL_PASSWORD=Ellitex112233
# Любая длинная случайная строка, например: python3 -c "import secrets; print(secrets.token_hex(32))"
ADMIN_PANEL_SECRET_KEY=1f2f4b0281638a5ad408ea9b1c743a6939152294a8db69cf325a10ae74fe8315
